  /*--------------------CSS RESET--------------------------*/
  a,
  abbr,
  acronym,
  address,
  article,
  aside,
  audio,
  b,
  blockquote,
  body,
  center,
  canvas,
  caption,
  cite,
  code,
  command,
  datalist,
  dd,
  del,
  details,
  dfn,
  dl,
  div,
  dt,
  em,
  embed,
  fieldset,
  figcaption,
  figure,
  footer,
  form,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  header,
  hgroup,
  html,
  i,
  iframe,
  img,
  ins,
  kbd,
  keygen,
  label,
  legend,
  li,
  meter,
  nav,
  object,
  ol,
  output,
  p,
  pre,
  progress,
  q,
  s,
  samp,
  section,
  small,
  span,
  source,
  strong,
  sub,
  sup,
  tfoot,
  thead,
  u,
  ul,
  var {
    background: transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    padding: 0;
    outline: 0;
    vertical-align: top;
  }

  ul {
    list-style: none;
  }

  blockquote,
  q {
    quotes: none;
  }

  img {
    vertical-align: top;
    border: 0;
  }

  embed {
    vertical-align: top;
  }

  article,
  aside,
  audio,
  canvas,
  command,
  datalist,
  details,
  embed,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  keygen,
  meter,
  nav,
  output,
  progress,
  section,
  source,
  video {
    display: block;
  }

  mark,
  rp,
  rt,
  ruby,
  summary,
  time {
    display: inline;
  }

  input,
  textarea {
    border: 0;
    padding: 0;
    margin: 0;
    outline: 0;
  }

  iframe {
    border: 0;
    margin: 0;
    padding: 0;
  }

  input,
  textarea,
  select {
    margin: 0;
    padding: 0px;
    font: 14px/18px roboto;
    font-weight: 500;
    color: #747474;
  }

  body {
    margin: 0px;
    font: 13px/25px roboto;
    font-weight: 200;
    color: #211714;
    background: #fff;
  }

  a,
  span {
    display: inline-block;
  }

  a {
    text-decoration: none;
    color: #211714;
    outline: none;
    -moz-transition: .4s;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
  }

  a:hover {
    color: #f6704d;
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  ol {
    list-style: decimal;
  }

  div,
  section,
  nav,
  aside,
  footer,
  article {
    margin: 0 auto;
  }

  p {
    margin: 0;
    padding: 5px 0px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: normal;
  }

  .clear {
    clear: both;
    height: 0px;
    line-height: 0px;
    overflow: hidden;
  }

  .hidden {
    display: none;
  }

  .t-left {
    text-align: left;
  }

  .t-center {
    text-align: center;
  }

  .t-right {
    text-align: right;
  }

  .justify {
    text-align: justify;
  }

  .rel {
    position: relative;
  }

  .nobg {
    background: 0 !important;
  }

  .noborder {
    border: none !important;
  }

  .right {
    float: right !important;
  }

  .left {
    float: left !important;
  }

  * {
    box-sizing: border-box;
  }

  @font-face {
    font-family: roboto;
    font-style: normal;
    font-weight: 100;
    src: url("../fonts/eot/robotolight.eot");
    src: url("../fonts/eot/robotolight.eot?#iefix") format("embedded-opentype"),
      /* IE6-8 */
      url("../fonts/woff2/robotolight.woff2") format("woff2"),
      /* FF39+,Chrome36+, Opera24+*/
      url("../fonts/woff/robotolight.woff") format("woff"),
      /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../fonts/ttf/robotolight.ttf") format("truetype");
  }

  @font-face {
    font-family: roboto;
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/eot/robotoregular.eot");
    src: url("../fonts/eot/robotoregular.eot?#iefix") format("embedded-opentype"),
      /* IE6-8 */
      url("../fonts/woff2/robotoregular.woff2") format("woff2"),
      /* FF39+,Chrome36+, Opera24+*/
      url("../fonts/woff/robotoregular.woff") format("woff"),
      /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../fonts/ttf/robotoregular.ttf") format("truetype");
  }

  @font-face {
    font-family: roboto;
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/eot/robotobold.eot");
    src: url("../fonts/eot/robotobold.eot?#iefix") format("embedded-opentype"),
      /* IE6-8 */
      url("../fonts/woff2/robotobold.woff2") format("woff2"),
      /* FF39+,Chrome36+, Opera24+*/
      url("../fonts/woff/robotobold.woff") format("woff"),
      /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../fonts/ttf/robotobold.ttf") format("truetype");
  }

  .center {
    font: 13px/25px roboto;
    max-width: 1200px;
    font-weight: 500;
    box-sizing: border-box;
    width: 98%;
  }

  .row {
    display: flex;
    flex-direction: row;
  }